/*使用position定位实现三栏式布局*/

* {
	margin: 0;
	padding: 0;
	font-family:  'Microsoft YaHei';
}

#container,#left,#right,#center,img {
	border: 1px solid #999;
	border-radius: 1px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#left,#right,#center {
	background-color: white;
	display: inline-block;
}

#container {	
	position: relative;
	margin: 20px;
	background-color: #EEE;
	min-width: 500px;
	padding: 20px;
	/*若子元素使用absolute则设置min-height防止元素塌陷*/
	min-height: 480px;
}

#left {
	position: absolute;
	width: 200px;
	top: 20px;
	left: 20px;
}

#left img {
	margin:20px;
}

#left h1 {
	position: absolute;
	display: inline-block;
	font-size: 12px;
	top: 20px;
}

#right {
	/*设置absolute会从文档流中脱离，父元素可能会塌陷*/
	position: absolute;
	top: 20px;
	right: 20px;
	width: 120px;
	padding:10px 20px;
}

#right img {
	margin: 10px 0;
}

#center {
	margin-left: 220px;
	margin-right: 140px;
	padding:20px;
}

#center h1 {
	font-size: 30px;
	margin: 0;
}

#center p {
	margin-top: 10px;
}

img {
	width: 80px;
	height: 80px;
}