* {
	margin: 0;
	padding: 0;
	font-family:  'Microsoft YaHei', Arial, sans-serif;
}

#container,#left,#right,#center,img {
	border: 1px solid #999;
	border-radius: 1px;
}

#left,#right,#center {
	background-color: white;
	display: inline-block;
}

#container {	
	position: relative;
	margin: 20px;
	padding-bottom: 40px;
	background-color: #EEE;
	height: auto;
	min-width: 500px;
}

#left {
	position: absolute;
	width: 200px;
	top: 20px;
	left: 20px;
}

#left img {
	margin:20px;
}

#left h1 {
	position: absolute;
	font-size: 12px;
	top: 20px;
	left: 120px;
}

#right {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 120px;
	padding-bottom: 20px;
}

#right img {
	margin: 20px 20px 0;
}

#center {
	margin: 20px 160px 20px 240px;
	padding: 20px;
}

#center h1 {
	font-size: 30px;
}

#center p {
	margin-top: 10px;
}

img {
	width: 80px;
	height: 80px;
}